// Color Palette
$primary-color: #4285F4; // Google Blue
$secondary-color: #DB4437; // Google Red
$tertiary-color: #F4B400; // Google Yellow
$quaternary-color: #0F9D58; // Google Green

// Grayscale
$white: #FFFFFF;
$black: #000000;
$light-gray: #f5f5f5;
$medium-gray: #e0e0e0;
$dark-gray: #a0a0a0;

// Background
$background-color: $light-gray;
